body{
    background-color: rgb(98, 158, 255);
    font-size: larger;
    color: ghostwhite;
}

p{
    margin-left: 30px;
    font-weight: 600;
}
img{
    display: block;
    margin:20px auto;
}

.memes{
    height:fit-content;
    width:fit-content;
    margin:40px auto;
}

.piano{
    font-size:100px;
    text-align: center;
}